{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} Editar Aluno {% endblock %}

{% block body %}
    {{ parent() }}

    <div class="d-flex align-items-center flex-column background">
        <div class="d-flex align-items-center flex-column">

            <div>
                <h1 class="title fs-3"><i class="fa-regular fa-pen-to-square"></i>
                    Editar Aluno</h1>
            </div>
            {{ include('/Aluno/_form.html.twig') }}
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ component('Select2', { id: 'aluno_cursos' }) }}
{% endblock %}