{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} Novo Aluno {% endblock %}

{% block body %}
        <div class="d-flex align-items-center flex-column background">
            <div>
                <h1 class="title fs-3"><i class="fa-solid fa-plus"></i>
                    Novo Aluno
                </h1>
            </div>

            {% if menssagem is defined and menssagem %}
                <div class="alert alert-danger" role="alert">
                    {{menssagem}}
                </div>
            {% endif %}
            {{ include('/Aluno/_form.html.twig') }}

        </div>

{% endblock %}


{% block javascripts %}
    {{ parent() }}
    {{ component('Select2', { id: 'aluno_cursos', placeholder: 'Selecione um ou mais cursos' }) }}
    <script>
        $.fn.datepicker.dates['pt-br'] = {
            days: ["Domingo", "Segunda", "Terça", "Quarta", "Quinta", "Sexta", "Sábado"],
            daysShort: ["Dom", "Seg", "Ter", "Qua", "Qui", "Sex", "Sáb"],
            daysMin: ["Do", "Se", "Te", "Qu", "Qu", "Se", "Sá"],
            months: ["Janeiro", "Fevereiro", "Março", "Abril", "Maio", "Junho", "Julho", "Agosto", "Setembro", "Outubro", "Novembro", "Dezembro"],
            monthsShort: ["Jan", "Fev", "Mar", "Abr", "Mai", "Jun", "Jul", "Ago", "Set", "Out", "Nov", "Dez"],
            today: "Hoje",
            clear: "Limpar",
            format: "dd/mm/yyyy",
        };

        $(document).ready(function() {
            // you may need to change this code if you are not using Bootstrap Datepicker
            $('.js-datepicker').datepicker({
                format: 'dd/mm/yyyy',
                inline: true,
                language: 'pt-br'
            });
        });
    </script>
{% endblock %}


